/out/
.DS_Store
/src/design/
/src/design/asd/course/pattern/observer/observingmultipleevents/img/
/src/design/asd/course/pattern/observer/stock/img/
/src/design/asd/course/pattern/observer/observingmultipleevents/img/
/src/design/asd/course/pattern/composite/assignment/xmlparser/
